<div class="counter-area pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon">
            <img src="/assets/assets/img/icon/icon-15.svg" alt="">
          </div>
          <div class="counter-content">
            <span><span class="counter" data-count="+" data-to="1500" data-speed="3000">1500</span><span
                class="counter-plus">+</span></span>
            <h6 class="title">Satisfied Customer</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon">
            <img src="/assets/assets/img/icon/icon-1.svg" alt="">
          </div>
          <div class="counter-content">
            <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span><span
              class="counter-plus">k+</span>
            <h6 class="title">Total Poultry</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon">
            <img src="/assets/assets/img/icon/icon-11.svg" alt="">
          </div>
          <div class="counter-content">
            <span class="counter" data-count="+" data-to="120" data-speed="3000">120</span><span
              class="counter-plus">+</span>
            <h6 class="title">Experts Staff</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon">
            <img src="/assets/assets/img/icon/icon-13.svg" alt="">
          </div>
          <div class="counter-content">
            <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span><span
              class="counter-plus">+</span>
            <h6 class="title">Win Awards</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
