<div class="gallery-area py-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="site-heading text-center">
          <span class="site-title-tagline">Gallery</span>
          <h2 class="site-title ">Poultry Farm Gallery</h2>
          <div class="heading-divider"></div>
          <p>
            It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout.
          </p>
        </div>
      </div>
    </div>
    <div class="row popup-gallery">
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/01.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/01.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/02.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/02.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/03.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/03.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/04.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/04.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/05.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/05.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/06.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/06.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/07.jpg" alt="">
            <a class="popup-img gallery-link" href="/assets/assets/img/gallery/07.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/08.jpg" alt="">
            <a class="popup-img gallery-link" href="assets/img/gallery/08.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="gallery-item">
          <div class="gallery-img">
            <img class="img-fluid" src="/assets/assets/img/gallery/09.jpg" alt="">
            <a class="popup-img gallery-link" href="assets/img/gallery/09.jpg"> <i class="far fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
